.background {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
	background-image: url("../../../public/mist.gif");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
